.contactBlock {
    background-color: #313552;
}
.contactContainer {
    justify-content: space-between;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    flex-wrap: wrap;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
}
