.footerBlock {
    background-color: #1f2235;
}

.footerContainer {
    justify-content: space-between;
    flex-direction: column;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    height: 70px;
    width: 70px;
}
