.header {
    height: 80px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a {
    color: #fff;
    cursor: pointer;
}

.header a:hover {
    color: #20c997;
    transition: all .2s ease;
}
