.mainBlock {
    height: 100vh;
    background-color: #1f2235;
}

.text {
    width: 300px;
    background-color: cornsilk;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: cornsilk;
}
