.skillsBlock {
    background-color: khaki;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    flex-wrap: wrap;
}
