.skillsBlock {
    background-color: #313552;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
