.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    width: 550px;
    background-color: #c1baea;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: indianred;
}

.description {

}
.projectName {

}

.viewBtn {

}